.header-top{
    background: #002e5b;
    font-size: 11px;
    color: #fff;
    padding: 8px 0;
}
.header-top i{
    color: #fdd428;
    margin-right: 5px;
}
.navbar-default{
    background: #fff;
    color: rgb(97, 124, 150);
    font-weight: bold;
    border-radius:0px;
    margin-bottom: 0;
}
.navbar-default:hover{
    color: #002e5b;
}
.navbar-default active{
    color: #002e5b;
}
