<div class="well text-center">
  <h1>PRICING</h1>
</div>
<section class="container">
  <div class="row text-center">
      <h3>PROJECT PRICING PLAN</h3>
      <p>We offer cheap and affordable price plan for students and awesome discount for organizational and government project</p>
  </div>
  <div class="row">
    <div class="col-md-3 price-block-primary">
      <ul class="price-block">
        <li class="price-block-header">Web Design</li>
        <li class="price-block-amount">$100.00</li>
        <li class="price-block-feature">1 year Hosting</li>
        <li class="price-block-feature">1 year Domain</li>
        <li class="price-block-footer"><button class="btn my-button">Get Now</button></li>
      </ul>
    </div>
    <div class="col-md-3 price-block-primary">
      <ul class="price-block">
        <li class="price-block-header">Web Design</li>
        <li class="price-block-amount">$100.00</li>
        <li class="price-block-feature">1 year Hosting</li>
        <li class="price-block-feature">1 year Domain</li>
        <li class="price-block-footer"><button class="btn my-button">Get Now</button></li>
      </ul>
    </div>
    <div class="col-md-3 price-block-warning">
      <ul class="price-block">
        <li class="price-block-header">Web Design</li>
        <li class="price-block-amount">$100.00</li>
        <li class="price-block-feature">1 year Hosting</li>
        <li class="price-block-feature">1 year Domain</li>
        <li class="price-block-footer"><button class="btn my-button">Get Now</button></li>
      </ul>
    </div>
    <div class="col-md-3 price-block-primary">
      <ul class="price-block">
        <li class="price-block-header">Web Design</li>
        <li class="price-block-amount">$100.00</li>
        <li class="price-block-feature">1 year Hosting</li>
        <li class="price-block-feature">1 year Domain</li>
        <li class="price-block-footer"><button class="btn my-button">Get Now</button></li>
      </ul>
    </div>
  </div>
</section>
