<div class="well text-center">
  <h1>PROJECT CATALOG</h1>
</div>
<section class="recent-project">
  <div class="container">
    <div class="row text-center">
      <h3>We Are The Best For Your Project</h3>
      <p>We provide you with the list of our most recent projects, top 10 projects, web design project, educational project, web-application project</p>
    </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="project-container">
          <img src="assets/works/1.jpg">
          <div class="project-overlay">
            <div class="project-overlay-text">
              <i class="glyphicon glyphicon-eye-open">Hello</i>
              <i class="glyphicon glyphicon-link">World</i>
            </div>
          </div>
        </div>
        <div class="project-details">
          <h4>E-Hospital</h4>
          <p>Hospitals Management System, FCT Abuja</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-container">
          <img src="assets/works/1.jpg">
          <div class="project-overlay">
            <div class="project-overlay-text">
              <i class="glyphicon glyphicon-eye-open">Hello</i>
              <i class="glyphicon glyphicon-link">World</i>
            </div>
          </div>
        </div>
        <div class="project-details">
          <h4>E-Hospital</h4>
          <p>Hospitals Management System, FCT Abuja</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="project-container">
          <img src="assets/works/1.jpg">
          <div class="project-overlay">
            <div class="project-overlay-text">
              <i class="glyphicon glyphicon-eye-open">Hello</i>
              <i class="glyphicon glyphicon-link">World</i>
            </div>
          </div>
        </div>
        <div class="project-details">
          <h4>E-Hospital</h4>
          <p>Hospitals Management System, FCT Abuja</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="project-topic">
  <div class="container">
    <div class="row text-center">
      <h3>PROJECT TOPIC</h3>
      <p>We provide you with a large list of project topics from our database. You need not search any further, we have got you covered, all you need is right here with us.</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>National Diploma (ND) Project</h4>
        <ul class="list-group">
          <li class="list-group-item"></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Higher National Diploma/B.Sc Project</h4>
        <ul class="list-group">
          <li class="list-group-item"></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4>Master's Degree Project</h4>
        <ul class="list-group">
          <li class="list-group-item"></li>
        </ul>
      </div>
    </div>
  </div>
</section>